*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#popup {
  position: absolute;
  top: -175px;
  left: -420px;
  width: 995px;
  height: 995px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 60%;
}

#popup h1 {
  margin-left: 320px;
  font-size: 46px;
  margin-bottom: 10px;
}

#p1 {
  margin-left: 140px;
  max-width: 800px;
  font-size: 24px;
  margin-bottom: 10px;
}

#p2 {
  margin-left: 380px;
  font-size: 14px;
  max-width: 500px;
  /* text-align: justify; */
}

.btn {
  margin-left: 100px;
  margin-top: 50px;
  padding: 12px 3em;
  background: none;
  border: 1px solid #000000;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 1px 0 1px #000;
}

.btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.btn:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.btn:active {
  transform: scale(0.9);
}

#button {
  margin-left: 130px;
}

@keyframes shrink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}